body {
background: url('http://www14.0zz0.com/2017/08/31/07/939099853.png') no-repeat;
font-family: Tahoma, Arial Verdana, sans-serif;
font-size: 14px;
color: #3c4852;
margin: 0;
}
.clear {
clear: both;
}
img {
border: 0;
}
#wrapper {
width: 750px;
height: 550px;
}
#header {
padding: 26px 0 0;
}
#header h1 {
font-size: 54px;
font-weight: bold;
color: #151414;
margin: 0;
text-align: center;
height: 52px;
}
#header h2 {
font-size: 54px;
font-weight: bold;
color: #e8133b;
margin: 0;
text-align: center;
height: 52px;
}
#content {
width: 370px;
padding: 42px 0 0 346px;
}
#content h3 {
font-size: 18px;
font-weight: bold;
color: #004eae;
margin: 0 0 6px;
padding: 0 0 10px;
border-bottom: 2px solid #004eae;
}
#content p {
font-family: Arial, Tahoma, Verdana, sans-serif;
line-height: 24px;
margin: 0 0 14px;
}
a.cta {
background: url('http://www14.0zz0.com/2017/08/31/07/886752982.png') no-repeat;
display: block;
width: 263px;
height: 37px;
color: #fff;
font-size: 20px;
font-weight: bold;
text-decoration: none;
padding: 11px 0 0 63px;
}
a.cta:hover {
color: #ffdc17;
}
